h1{
    color: tomato;
    font-weight: 600;
    margin-top: 20px;
    padding: 5px;
}
.bikes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.bike_collection{
    position: relative;
    display: inline-block;
    margin-top: 100px;
 }
 .bike_collection::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: #EB3493;
    margin-top: 47px;
    left: 50px;
 }

@media only screen and (max-width: 1100px){
   .bikes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   }
   .bike_collection{
    position: relative;
    display: inline-block;
    margin-top: 100px;
 }
 .bike_collection::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 3px;
    background-color: #EB3493;
    margin-top: 47px;
    left: 50px;
 }
  }
@media only screen and (max-width: 800px){
    .bikes{
     display: grid;
     grid-template-columns: repeat(2,1fr);
    }
    .bike_collection{
        position: relative;
        display: inline-block;
        margin-top: 100px;
     }
     .bike_collection::before{
        content: '';
        position: absolute;
        width: 150px;
        height: 3px;
        background-color: #EB3493;
        margin-top: 47px;
        left: 50px;
     }
   }
   
   @media only screen and (max-width: 600px)  {
    .bikes{
     display: grid;
     grid-template-columns: repeat(1,1fr);
     margin-left: 50px;
    }
    .bike_collection{
        position: relative;
        display: inline-block;
        margin-top: 100px;
     }
     .bike_collection::before{
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: #EB3493;
        margin-top: 47px;
        left: 50px;
     }
   }