.team-container{
    padding-bottom: 20px;
}

.images{
    width: 150px;
    margin-top: 10px;
    border-radius: 50%;
    position: absolute;
}
.images{
    position: relative;
    margin-left: 100px;
}
.name{
    color: black;
}
.position{
    color: red;
    font-weight: 600;
}
