.contained{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 92px;
}
.image{
    width: 100%!important;
    margin: 0px;
    padding: 0px;
    height: 500px;
}
.banner_btn{
    color: rgba(47, 0, 255, 0.849);
    font-size: 20px;
    background-color: yellowgreen;
    font-weight: 700;
}
.container-fluid{
    --bs-gutter-x: -1.5rem;
}