.team_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 20px;
    margin-top: 20px;
}
.team_title{
   position: relative;
   display: inline-block;
   margin-top: 50px;
}
.team_title::before{
   content: '';
   position: absolute;
   width: 120px;
   height: 3px;
   background-color: #EB3493;
   margin-top: 40px;
   left: 15px;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
     .team_container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
     }
  }

  @media screen and (min-width: 761px) and (max-width: 968px) {
    .team_container{
       display: grid;
       grid-template-columns : repeat(2,1fr);
    }
 }

 @media screen and (min-width: 968px) and (max-width: 1300px) {
    .team_container{
       display: grid;
       grid-template-columns : repeat(3,1fr);
    }
 }