.products_title{
    position: relative;
    display: inline-block;
    color: tomato;
    font-weight: 600;
}
.products_title::before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: lightseagreen;
    width: 140px;
    left: 15px;
    bottom: -10px;
}
.bikes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

@media only screen and (max-width: 1100px){
   .bikes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   }
  }
@media only screen and (max-width: 800px){
    .bikes{
     display: grid;
     grid-template-columns: repeat(2,1fr);
    }
   }
   
   @media only screen and (max-width: 600px)  {
    .bikes{
     display: grid;
     grid-template-columns: repeat(1,1fr);
    }
   }